.main-container {
  display: flex;
  flex-flow: row wrap;
}

app-page-title,
app-resto-form {
  flex: 0 1 100%;
}

app-page-title {
  text-align: center;
}


app-main-menu {
  flex: 0 1 30%;
}

app-resto-detail {
  flex: 0 1 70%;
}
